<p id="notice"><%= notice %></p>
<div>
  <%= image_tag( @animal.foto.url, width: 100, height: 100) %>
</div>

<p>
  <strong>Nom:</strong>
  <%= @animal.nom %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @animal.raza %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @animal.zona.nom %>
</p>

<p>
  <strong>Any naixement:</strong>
  <%= @animal.any_naixement %>
</p>

<p>
  <strong>User:</strong>
  <%= @animal.user.email %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
